.navigationWrap {
  display: flex;
}

.navigation {
  justify-content: flex-end;
  list-style: none;
  font-size: 1em;
}

.navigationLogo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 1em;
  margin-right: auto;
  font-weight: bold;
  font-size: 2em;
  color: rgba(245, 222, 179, 0.6);
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem:hover {
  color: #fff;
}

.navigationItem a {
  color: currentColor;
  text-decoration: none;
}
